
.about {
  width: 100%;
  padding: 70px 10%;
}

.about-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:60px;
  margin-bottom: 100px;
}


.about-image {
  width: 50%;
}

.about-image img {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
}


.about-content {
  width: 50%;
}

.about-content h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #222;
}

.about-content p {
  font-size: 16px;
  line-height: 1.8;
  color: #666;
}


.about-row:nth-child(even) {
  flex-direction: row-reverse;
}


@media (max-width: 320px) and  (max-width: 480px){
  .about {
    padding: 50px 5%;
  }

  .about-row,
  .about-row:nth-child(even) {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 60px;
  }

  .about-image,
  .about-content {
    width: 100%;
  }

  .about-image img {
    max-width: 100%;
  }

  .about-content h2 {
    font-size: 26px;
  }
}
