
#testimonials {
    padding: 60px 30px;
    text-align: center;
    background-color: #ffffff;
}


#testimonials h1 {
    font-size: 32px;
    font-weight: 500;
    color: #222;
    margin-bottom: 15px;
}


#testimonials > p {
    max-width: 700px;
    margin: 0 auto 45px;
    font-size: 16px;
    line-height: 1;
    color: #777;
}

.feed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 38px;
    max-width: 1165px;
    margin: 0 auto;
    align-items: stretch;
}


.feed > div {
    background: #fff;
    min-height: 385px;
    padding: 40px 32px 35px;

    border-radius: 25px;

    box-shadow:
        0 15px 35px rgba(0, 0, 0, 0.08);

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: transform 0.3s ease,
                box-shadow 0.3s ease;
}

.feed  div:hover {
    transform: translateY(-5px);

    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.12);
}


.feed img {
    width: 48px;
    height: 48px;
    object-fit: contain;
    margin-bottom: 38px;
}

.feed  div p:first-of-type {
    width: 100%;
    margin: 0 0 35px;

    font-size: 18px;
    line-height: 1.8;
    font-weight: 400;

    color: #777;
    text-align: left;
}

.feed > div p:nth-of-type(2) {
    margin: auto 0 8px;

    font-size: 20px;
    font-weight: 400;

    color: #111;
}

.feed > div p:nth-of-type(3) {
    margin: 0;

    font-size: 17px;
    font-weight: 400;

    color: #ff4f87;
}



@media  (min-width: 320px) and (max-width: 480px) {
    .feed {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
}

@media (max-width: 600px) {
    #testimonials {
        padding: 45px 20px;
    }

    #testimonials h1 {
        font-size: 28px;
    }

    .feed {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .feed > div {
        min-height: 350px;
    }
}